.inner-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 270px;
  background-repeat: no-repeat;
  background-position: right 100% bottom 54%;
  background-image: url("../../../../assets/images/inner-page-banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.inner-banner h2 {
  color: white;
}
